<h1>For admins</h1>

<%= render 'devise/admin/registration_items' %>
<%= render 'devise/admin/login_items' %>
<h2>Users:</h2>

<table>
  <tr>
    <th><%= sortable "id" %></th>
    <th><%= sortable "email", "e-mail" %></th>
    <th>action</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Edit", edit_user_registration_path %></td>
    </tr>
  <% end %>

</table>


<%= link_to_function "Back", "history.back()" %>
